body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background: hsl(0, 0%, 94%);
    box-shadow: hsl(0, 0%, 0%) ;
    z-index: 1000;
}
 
nav ul  {
 display: flex;
 justify-content: center;
 padding: 10px 0;
 list-style: none;
 }

 nav ul li{
    margin: 0 15px;
 }

 nav ul li a{
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    transition: background 0.3s;
 }

 nav ul li a :hover{
   background: #ed2020; 
   border-radius: 5px;
}

 section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2 em;
    color: rgb(171, 255, 140);
    flex-direction: column;
 }

 section:nth-child(1) {
    background-color: #3498db;
}
section:nth-child(2){
    background-color: #e74c3c;
}

section:nth-child(3){
background-color: #2ecc71;
}
section:nth-child(4){
background-color: #f39c12;
}
section:nth-child(5){
background-color: #8e44ad;
}

.card{
    background: #e7e695c4;
    border-radius: 12px ;
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0.1);
    padding: 1rem;
    width: 320px;
    text-align: justify;
    font-family: sans-serif;
    font-size: sans-serif;
    font-size: 1rem;
    color: #333;
}

.card img{
    width: 100%;
    border-radius: 8px;
}

.card button{
    margin-top: 10px;
    background: #3498db;
    color: #9ecdcfd4;
    border: none ;
    padding: 8px 12px;
    border-radius: none 6px;
    cursor: pointer;
}

dialog{
    border: none;
    border-radius: 8px;
    box-shadow: 0 4x 12px rgba(0,0,0,0.2);
    padding: 20px;
    max-width: 300px;
    animation: aparecer 0.3s ease;
    font-size: 0.9 rem;
    text-align: justify;
}

dialog::backdrop {
    background: rgb(0, 0, 0, 0.6);
}
@keyframes aparecer {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
    opacity: 1;
    transform: translateY(0);
    }
}
@media (max-width:900px) {
    .card{
        width: 90%;
        font-size: 0.95rem;
    }
    section{
        font-size: 1.3em;
        padding: 0 10px;

    }
}

@media (max-width: 600px){
  nav ul{
    flex-direction: column;
    padding: 0;
  }
  nav ul li{
    margin:8px 0 ;
  }
  .card{
    width: 98%;
    font-size: 0.9rem;
    padding: 0.7rem;
  }
  section{
    font-size: 1 em;
    padding: 0 4px;
  }
  dialog {
    max-width: 95w;
    padding: 10px;
    font-size: 0.85rem;


  }
}
